<link
	rel="stylesheet"
	href="{{url_for('static', filename='css/create_task.css')}}"
/>
{% extends 'base.html' %}
{% block title %}Create Task{% endblock title %} 
{% block content %}
<div class="task-form">
	<h1>Create Task</h1>
	<form action="{{url_for('create_task') }}" method="POST">
		<div class="row">
			<div class="col-sm-4">
				<label for="name">Name</label>
			</div>
			<div class="col-sm-8">
				<input type="text" id="name" name="name" />
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4"> 
				<label for="body">Body</label>
			</div>
			<div class="col-sm-8">
				<input type="text" id="body" name="body" />
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4"> 
				<label for="priority">Priority (1-5)</label>
				</div>
				<div class="col-sm-8">
				<input type="number" id="priority" name="priority" />
			</div>
			</div>
			<div class="create-button">
				<input type="submit" class="btn btn-success" value="Create" />
			</div>
		</div>
	</form>
</div>
{% endblock content %}
